<p>profile works!</p>
<div>
    <div>
        <img id="profilePHOTO" src="https://source.unsplash.com/random/200x200?sig=incrementingIdentifier" alt="Banner Photo">
        <table class="PROFILEinfo ">
            <!-- <td></td><td>Info</td> -->
            <tr>
                <thead>First Name</thead><td>Value</td>
            </tr>
            <tr>
                <thead>Last Name</thead><td>Value</td>
            </tr>
            <tr>
                <thead>Username</thead><td>Value</td>
            </tr>
            <tr>
                <thead>Email</thead><td>Value</td>
            </tr>

        </table>
    </div>
    <div></div>
</div>